* {
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 400;
    --bg-color-lightmode: #E5E5E5;
    --bg-color-darkmode: #224957;
    --text-color-lightmode: #224957;
    --link-color-lightmode: #000000;
    --text-color-darkmode: #E5E5E5;
    --link-color-darkmode: #20DF7F;
}

/* Light mode */
body {
    background-color: var(--bg-color-lightmode);
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    margin: 0;
    transition: background 0.2 linear;
}

main {
    text-align: center;
    width: 400px;
}

h1 {
    color: var(--text-color-lightmode);
    font-size: 64px;
}

p {
    color: var(--text-color-lightmode);
    font-size: 16px;
}

#login, #password {
    background-color: var(--bg-color-darkmode);
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: hidden;
    margin: 10px 0 10px 0;
    width: 300px;
}

input::placeholder {
    color: white;
}

input:focus {
    outline: none;
}

#password {
    margin-bottom: 20px;
}

div label {
    color: var(--text-color-lightmode);
}
div a {
    margin-left: 40px;
    text-decoration: none;
    color: var(--link-color-lightmode);
}

#rbr[type='checkbox'] {
    accent-color: var(--bg-color-darkmode);
}

.btn-form {
    margin-top: 20px;
    width: 300px;
    height: 45px;
    border-radius: 10px;
    border: hidden;
    background-color: var(--link-color-darkmode);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
}

#darkmode-btn {
    background-color: var(--bg-color-darkmode);
    color: white;

    margin-top: 10px;
    border-radius: 10px;
    border: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    cursor: pointer;
}

/* Dark mode */
.body-dark {
    background: var(--bg-color-darkmode);
}

.text-dark {
    color: var(--text-color-darkmode);
}

.light-green {
    color: var(--link-color-darkmode);
}

.input-dark {
    background-color: #ffffff17 !important;
}

.darkmode-btn {
    background-color: #ffffff17 !important;
}

/* Footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-bg {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

